.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
}

.logo{
  max-width: 110px;
  max-height: 110px;
}

.reservas-header{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.reservas-header div{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.reservas-header strong{
  color:#FFF;
}
.reservas-header span{
  color:#DDD;
  font-size:15px;
}